<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/js/menu.js"></script>
</head>

<style>

</style>

<body>
  <div class="upload_topmenu_wrapper">
    <div class="upload_topmenu">
      <div class="logo-image">
        <img src="image/Logo A1.png" alt="Logo Image">
      </div>
      <div class="menu-and-cart-container">
        <div class="cart-container">
          <object type="image/svg+xml" data="svg/add-to-cart.svg"></object>
        </div>
        <div class="menu-container" id="menuToggle">
          <img src="svg/hamburger-menu.svg" alt="menu" style="width:35px;cursor:pointer;">
        </div>
      </div>

      <div id="sideMenu" class="side-menu">
        <span class="closeBtn" id="closeMenu">✕</span>
        <a href="#">Dashboard</a>
        <a href="#">Catalogue</a>
        <a href="#">Orders</a>
        <a href="#">Messages</a>
        <a href="#">Account</a>
        <a href="#">Help Center</a>
        <a href="#">FAQ</a>
      </div>
    </div>
  </div>

  <div class="login_new_to_nessh_back_arrow_container">
    <a href="login.html" class="login_new_to_nessh_back_arrow">
      <div class="back_navigation_title">
        <img src="image/left arrow.png" alt="Back Arrow">
      </div>
      <h2 class="my_title">My Titles</h2>
    </a>
  </div>

<div class="page__container page-width">
  <div class="page-wrap">
    <div class="photostack-container" aria-label="Magazine stack">
      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 1.png" alt="Cover 1">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">WW Issue 08</span>
              <h3 class="product_title">Weird Walk</h3>
              <div class="catalogue_country_and_image_container">
                <p>UK</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 2.png" alt="Cover 2">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">Catnip Vol 1</span>
              <h3 class="product_title">Broccoli</h3>
              <div class="catalogue_country_and_image_container">
                <p>Portland, OR</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 3.png" alt="Cover 3">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">Lunch Lady Issue 30</span>
              <h3 class="product_title">Lunch Lady</h3>
              <div class="catalogue_country_and_image_container">
                <p>Australia</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 4.png" alt="Cover 4">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">Mildew Issue 03</span>
              <h3 class="product_title">Broccoli</h3>
              <div class="catalogue_country_and_image_container">
                <p>Portland, OR</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 5.png" alt="Cover 5">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">Cheese Issue 03</span>
              <h3 class="product_title">Cheese Magazine</h3>
              <div class="catalogue_country_and_image_container">
                <p>UK</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="photo-item">
        <div class="save_image">
          <img src="image/save.png">
        </div>
        <a href="#" class="Catalogue_anchour"><img src="image/Catalogue 6.png" alt="Cover 6">
          <div class="Catalogue_visible_text">
            <div class="product_info">
              <span class="product_vendor">Mushroom People</span>
              <h3 class="product_title">Broccoli</h3>
              <div class="catalogue_country_and_image_container">
                <p>Portland, OR</p>
                <div class="country_and_image_container_image">
                  <img src="image/h Image.png">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="home_catalogue">
    <div class="full_catalogue">
      Full Catalogue
    </div>
    <div class="home_page_catalogue_collection_icons">
      <div class="home_page_catalogue_icon_contaienr">
        <div class="home_page_catalogue_icon_innercontaienr">
          <img src="image/Eye.png" alt="Eye Icon">
        </div>
      </div>
      <div class="home_page_catalogue_icon_contaienr">
        <div class="home_page_catalogue_icon_innercontaienr">
          <img src="image/Search.png" alt="Eye Icon">
        </div>
      </div>
      <div class="home_page_catalogue_icon_contaienr">
        <div class="home_page_catalogue_icon_innercontaienr">
          <img src="image/top-bottom-arrrow.png" alt="Eye Icon">
        </div>
      </div>
      <div class="home_page_catalogue_icon_contaienr">
        <div class="home_page_catalogue_icon_innercontaienr">
          <img src="image/Left Right Filter.png" alt="Eye Icon">
        </div>
      </div>
    </div>
  </div>



  <div class="collection">
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 1.png" alt="Product 1">
      <div class="product_info">
        <span class="product_vendor">WW Issue 08</span>
        <div class="title_and_country">
          <h3 class="product_title">Weird Walk</h3>
          <p>UK</p>
        </div>
        <span class="product_price">$ 8.81</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 2.png" alt="Product 2">
      <div class="product_info">
        <span class="product_vendor">Catnip Vol 1</span>
        <div class="title_and_country">
          <h3 class="product_title">Broccoli</h3>
          <p>Portland, OR</p>
        </div>
        <span class="product_price">$ 28.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 3.png" alt="Product 3">
      <div class="product_info">
        <span class="product_vendor">Lunch Lady Issue 30</span>
        <div class="title_and_country">
          <h3 class="product_title">Lunch Lady</h3>
          <p>Australia</p>
        </div>
        <span class="product_price">$ 17.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 4.png" alt="Product 4">
      <div class="product_info">
        <span class="product_vendor">Mildew Issue 03</span>
        <div class="title_and_country">
          <h3 class="product_title">Broccoli</h3>
          <p>Portland, OR</p>
        </div>
        <span class="product_price">$20.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 5.png" alt="Product 5">
      <div class="product_info">
        <span class="product_vendor">Cheese Issue 03</span>
        <div class="title_and_country">
          <h3 class="product_title">Cheese Magazine</h3>
          <p>UK</p>
        </div>
        <span class="product_price">$ 13.54</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 6.png" alt="Product 6">
      <div class="product_info">
        <span class="product_vendor">Mushroom People</span>
        <div class="title_and_country">
          <h3 class="product_title">Broccoli</h3>
          <p>Portland, OR</p>
        </div>
        <span class="product_price">$ 28.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 7.png" alt="Product 7">
      <div class="product_info">
        <span class="product_vendor">The FUTURO Vol. II</span>
        <div class="title_and_country">
          <h3 class="product_title">The Lab Mag</h3>
          <p>Los Angeles, CA</p>
        </div>
        <span class="product_price">$ 40.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 8.png" alt="Product 8">
      <div class="product_info">
        <span class="product_vendor">Record Culture Issue 10</span>
        <div class="title_and_country">
          <h3 class="product_title">Record Creative</h3>
          <p>CRK, Ireland</p>
        </div>
        <span class="product_price">$ 24.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 9.png" alt="Product 9">
      <div class="product_info">
        <span class="product_vendor">Emergence Mag Vol. 6</span>
        <div class="title_and_country">
          <h3 class="product_title">Kalliopeia Foundation</h3>
          <p>Inverness, CA</p>
        </div>
        <span class="product_price">$ 50.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 10.png" alt="Product 10">
      <div class="product_info">
        <span class="product_vendor">Broccoli Issue 20</span>
        <div class="title_and_country">
          <h3 class="product_title">Broccoli</h3>
          <p>Portland, OR</p>
        </div>
        <span class="product_price">$ 14.99</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 11.png" alt="Product 11">
      <div class="product_info">
        <span class="product_vendor">Issue 13 - Paradise</span>
        <div class="title_and_country">
          <h3 class="product_title">Wrap Magazine</h3>
          <p>UK</p>
        </div>
        <span class="product_price">$ 24.00</span>
      </div>
    </a>
    <a href="#" class="product-card product-card-underline">
      <img src="image/Catalogue 12.png" alt="Product 12">
      <div class="product_info">
        <span class="product_vendor">Wild Alchemy Journal Issue No. 5: Aether</span>
        <div class="title_and_country">
          <h3 class="product_title">Mama Xanadu</h3>
          <p>UK</p>
        </div>
        <span class="product_price">$ 35.00</span>
      </div>
    </a>
  </div>
</div>


</body>

</html>